<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Idade</th>
				<th>Cidade</th>				
			</tr>
		</thead>
		<% @cliente.each do |cliente|%>
		
		<tbody>
			
			<tr>
				<td><%=cliente.nome%></td>
				<td><%=cliente.idade%></td>
				<td><%=cliente.cidade%></td>
				<td>
				<%= button_to "Remover", cliente, method: :delete, class: "btn btn-danger", data: {confirm: "Tem certeza que quer remover #{cliente.nome}?"} %>
				</td>
				<td>
					<%= link_to "Editar", edit_cliente_path(cliente), class: "btn btn-info"%>
				</td>
				
			</tr>	


		</tbody>
		<%end%>
	</table>
	