<!DOCTYPE html>
<html>
  <head>
    <title>Cadena</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #e0ebeb;">
  	<%= nav_bar brand: "Projeto Cadena", brand_link: root_url %>
  	 <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
